body {
    position: absolute;
    top: 250px;
    left: 550px;
}

.red {
    width: 100px;
    height: 100px;
    background: red;
    transition: transform 0.5s linear;
    transform-origin: top left;
    position: absolute;
    margin-top: 0px;
}

.yellow {
    width: 100px;
    height: 100px;
    background: yellow;
    transition: transform 0.5s linear;
    transform-origin: top right;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
}

.blue {
    width: 100px;
    height: 100px;
    background: blue;
    transition: transform 0.5s linear;
    transform-origin: bottom left;
    position: absolute;
    margin-top: 100px;
    margin-left: 0px;

}

.green {
    width: 100px;
    height: 100px;
    background: green;
    transition: transform 0.5s linear;
    transform-origin: bottom right;
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
}

.text{
    position: relative; top: 80px; left: 70px; z-index: -1
}


.main:hover .red {
    transform: rotate(90deg);
}

.main:hover .yellow {
    transform: rotate(-90deg);
}

.main:hover .blue {
    transform: rotate(-90deg);
}

.main:hover .green {
    transform: rotate(90deg);
}

.abv:hover .first {
    transform: rotate(90deg);
}

.abv:hover .sec {
    transform: rotate(-90deg);
}

.abv:hover .third {
    transform: rotate(-90deg);
}

.abv:hover .fourth {
    transform: rotate(90deg);
}